{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Article Details{% endblock %}

{% block home %}
    <a href="{% url 'blog:homepage' %}" class="btn btn-outline-secondary">Home</a>
{% endblock home %}

{% block switch %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
            
        </a>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:userarticle' %}">Published Articles</a>
            <a class="dropdown-item" href="{% url 'users:edituser' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'users:editpass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >logout</a>
        </div>
    </li>
    <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
{% endblock%}

{% block content %}
    <div class="container">
        {% for details in form %}
            <div align="center">
                <h1 class="display-3">{{details.title}}</h1>
                <p>
                    <b>Author:</b> {{details.owner.get_full_name}} <b>date published:</b> {{details.date_published}}
                    {% if request.user == details.owner %}
                        <a href="{% url 'blog:editarticle' details.id%}"><i>edit</i></a>
                    {% endif %}
                </p>
                {% if details.article_image %}
                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ details.article_image }}" width="600" height="320"></img>
                {% endif %}
            </div>
            <div class="articledetails">
                <p class="text-justify">{{details.description}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}