{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Article Details{% endblock %}

{% block switch %}
    {% if user.is_authenticated %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:userarticle' %}">Published Articles</a>
            <a class="dropdown-item" href="{% url 'blog:viewliked' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'users:edituser' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'users:editpass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
        <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline-secondary"> Login </a>
    {% endif %}
{% endblock%}

{% block content %}
    <div class="container">
        {% for details in form %}
            <div align="center">
                <h1 class="display-3">{{details.title}}</h1>
                <p>
                    <b>Author:</b> {{details.owner.get_full_name}} <b>date published:</b> {{details.date_published}}
                    {% if request.user == details.owner %}
                        <a href="{% url 'blog:editarticle' details.id%}"><i>edit</i></a>
                    {% endif %}
                </p>
                {% if details.article_image %}
                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ details.article_image }}" width="600" height="320"></img>
                {% endif %}
            </div>
            <div class="articledetails">
                <p class="text-justify">{{details.description}}</p>
            </div>
        {% endfor %}
    </div>
    <div style="border-top:1px solid gray">
        <br>
        <div class="container">
            {% if user.is_authenticated %}
                <div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            {% for details in form %}
                                <div class="mb-2">
                                {% if likes %}
                                    {% for like in likes %}
                                        {% if like.likebool == True %}
                                            <a href="{% url 'blog:likearticle' details.id%}" class="btn btn-primary btn-sm">LIKED &nbsp<span class="badge badge-light">{{totallikes}}</span></a>
                                        {% else %}
                                            <a href="{% url 'blog:likearticle' details.id%}" class="btn btn-outline-primary btn-sm">LIKE &nbsp<span class="badge badge-light">{{totallikes}}</span></a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <a href="{% url 'blog:likearticle' details.id%}" class="btn btn-outline-primary btn-sm">LIKE &nbsp<span class="badge badge-light">{{totallikes}}</span></a>
                                {% endif %}
                                </div>
                                <form method="POST" id="addArticle" name="addArticle" action="{% url 'blog:addcomment' details.id %}" novalidate>
                                {% csrf_token %}
                                    {% for hidden in commentForm.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% for field in commentForm.visible_fields %}
                                        <div class="form-group">
                                            <label>{{field.label}}</label>
                                            {{ field|add_class:'form-control' |add_error_class:'is-invalid' }}
                                            {% if field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ field.errors }}
                                                </div>
                                            {% endif %}  
                                        </div>
                                    {% endfor %}
                                </form>
                            {% endfor %}
                            <div class="float-right">
                                <button type="submit" class="btn btn-outline-dark" form="addArticle">Add Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <br/>
    <div class="container">
        {% for comments in loadComment %}
        <div class="row">
            <div class="col-md-10">
                <div class="d-flex">
                    <img src="{{MEDIA_URL}}{{comments.owner.avatar}}" width="40" height="40">
                    <div>
                        {% if comments.owner.firstname %}
                            <p class="mb-0"> &nbsp<i><b>{{comments.owner.get_short_name}}:</b></i></p>
                        {% else %}
                            <p class="mb-0"> &nbsp<i><b>{{comments.owner.email}}:</b></i></p>
                        {% endif %}
                        <p> &nbsp{{comments.content}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                {% if request.user == comments.owner %}
                    <div class="text-right">
                        <a href="{% url 'blog:editcomment' comments.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
                        <a href="{% url 'blog:deletecomment' comments.id %}" class="btn btn-outline-danger btn-sm" >Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
{% endblock %}
