{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Home{% endblock %}


{% block switch %}
    {% if user.is_authenticated %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:userarticle' %}">Published Articles</a>
            <a class="dropdown-item" href="{% url 'blog:viewliked' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'users:edituser' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'users:editpass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
        <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline-secondary"> Login </a>
    {% endif %}
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="container">
        {% if user.is_authenticated %}
            <div class="float-right">
                <a href="{% url 'blog:addarticle' %}" class="btn btn-outline-primary btn-sm" ><b>ADD ARTICLE</b></a>
            </div>
        {% endif %}
            <br />
            <br />
            {% for feature in featured %}
                {% if forloop.first %}
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-4">
                            <h2><b> {{ feature.article.title }} </b></h2>
                            <p>{{ feature.article.description|truncatechars:100 }}</p>
                            <a href="{% url 'blog:articledetails' feature.article.id%}" >
                                <b>Continue reading</b>
                            </a>
                            {% if user.is_authenticated %}
                                <div class="caption">
                                    <button class="btn btn-primary btn-sm">Likes &nbsp<span class="badge badge-light">4</span></button>
                                    <button class="btn btn-secondary btn-sm">Comments &nbsp<span class="badge badge-light">4</span></button>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <img src="{{MEDIA_URL}}{{feature.article.article_image}}" style="width:100%; height:300px">  
                        </div>
                    </div>
                </div>
                <div class="row">
                {% else %}
                    <div class="col-md-6">
                        <div class="thumbnail" >
                            <div class="row">
                                <div class="col-md-4">
                                    <h2><b> {{ feature.article.title }} </b></h2>
                                    {{ feature.article.description|truncatechars:100 }}
                                    <a href="{% url 'blog:articledetails' feature.article.id%}" >
                                        <b>Continue reading</b>
                                    </a>
                                </div>
                                <div class="col-md-8">
                                        <img src="{{MEDIA_URL}}{{feature.article.article_image}}" style="width:100%; height:200px">
                                </div>
                            </div>
                        <div class="caption">
                        {% if user.is_authenticated %}
                            <button class="btn btn-primary btn-sm">Likes &nbsp<span class="badge badge-light">4</span></button>
                            <button class="btn btn-secondary btn-sm">Comments &nbsp<span class="badge badge-light">4</span></button>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <br />
        <br />
        <div class = "container">
            {% if form %}
                <div>
                    <div align="center">
                        <h2><b>ARTICLES</b></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            {% for article in form %}
                                <div class="container">
                                    <div style="border-top:1px solid gray">
                                        <div>
                                            <h2><b>{{article.title}}</b></h2>
                                            <p>
                                                <b>Author:</b> {{article.owner.get_full_name}} <b>date published:</b> {{article.date_published}}
                                            </p>
                                        </div> 
                                        <div class="articledetailshome">
                                            <p class="text-justify">{{article.description|truncatechars:200}}
                                            <a href="{% url 'blog:articledetails' article.id%}" >
                                            <b> Continue reading</b></a></p>
                                        </div>
                                        {% if user.is_authenticated %}
                                            <button class="btn btn-primary btn-sm">Likes &nbsp<span class="badge badge-light">{{article.number_of_likes}}</span></button>
                                            
                                            <button class="btn btn-secondary btn-sm">Comments &nbsp<span class="badge badge-light">{{article.number_of_comment}}</span></button>
                                        {% endif %}
                                    </div>
                                    <br/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 mb-3 bg-light rounded">
                                <h4 class="font-italic">About</h4>
                                <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                            </div>

                            <div class="p-3">
                                <h4 class="font-italic">Archives</h4>
                                <ol class="list-unstyled mb-0">
                                <li><a href="#">March 2014</a></li>
                                <li><a href="#">February 2014</a></li>
                                <li><a href="#">January 2014</a></li>
                                <li><a href="#">December 2013</a></li>
                                <li><a href="#">November 2013</a></li>
                                <li><a href="#">October 2013</a></li>
                                <li><a href="#">September 2013</a></li>
                                <li><a href="#">August 2013</a></li>
                                <li><a href="#">July 2013</a></li>
                                <li><a href="#">June 2013</a></li>
                                <li><a href="#">May 2013</a></li>
                                <li><a href="#">April 2013</a></li>
                                </ol>
                            </div>

                            <div class="p-3">
                                <h4 class="font-italic">Elsewhere</h4>
                                <ol class="list-unstyled">
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                                </ol>
                            </div>
                        </div>                
                    </div>
                </div>
                <!-- PAGINATION PART -->
                <!--########################################################################################################-->
                <div class="container">
                    <div align="center">
                        <ul class="pagination justify-content-center">
                            {% if form.has_previous %}
                                <a class="page-link" href="?page={{ form.previous_page_number }}">previous</a>
                            {% endif %}

                            {% for i in form.paginator.page_range %}
                                {% if form.number == i %}
                                    <li class="active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if form.has_next %}
                                <a class="page-link" href="?page={{ form.next_page_number }}">next</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}



<!--
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-4">
                        <h2><b> TITLE </b></h2>
                    </div>
                    <div class="col-md-8">
                        <img src="media/articleImage/black.png" alt="Lights" style="width:100%; height:300px">  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <a href="#" >
                            <div class="row">
                                <div class="col-md-4">
                                    <p> TITLE </p>
                                </div>
                                <div class="col-md-8">
                                    <img src="media/articleImage/black.png" alt="Lights" style="width:100%; height:200px">  
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <a href="#" >
                            <div class="row">
                                <div class="col-md-4">
                                    <p> TITLE </p>
                                </div>
                                <div class="col-md-8">
                                    <img src="media/articleImage/black.png" alt="Lights" style="width:100%; height:200px">  
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
    
-->

