{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                User Creation
            {% endblock %}
        </title>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel = "stylesheet" type = "text/css" href = "{% static 'users/style.css' %}">
    </head>
<body>
    <nav class="navbar navbar-expand-md" style="border-bottom: 3px solid gray;">
        <div class="container-fluid" >
            <div class="navbar-collapse collapse w-100 ">
                <a href="{% url 'blog:homepage' %}" class="btn btn-outline-secondary">Home</a>
            </div>
            <div class="mx-auto order-0">
                <h1 class="navbar-brand"> Social Blog </h1>
            </div>
            <div class="container">
                <div class="navbar-collapse collapse w-100 ">
                    <div class="navbar-nav ml-auto">
                        {% block switch %}
                        {% endblock%}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br>
    {% block content %}
    {% endblock %}
    {% block modal %}
    {% endblock modal %}
</body>
</html>