{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Edit User Profile{% endblock %}


{% block switch %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:userarticle' %}">Published Articles</a>
            <a class="dropdown-item" href="{% url 'users:edituser' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'users:editpass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
{% endblock%}

{% block content %}
    <div class="container">
        <div>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <form method="POST" id="updateUserForm" name="updateUserForm" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label>{{field.label}}</label>
                        {{ field|add_class:'form-control' |add_error_class:'is-invalid' }}
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {{ field.errors }}
                            </div>
                        {% endif %}  
                    </div>
                {% endfor %}
            </form>
            <div class="float-right">
                <button type="submit" class="btn btn-outline-dark" form="updateUserForm">Update</button>
            </div>
        </div>
    </div>
{% endblock %}