{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Article Details{% endblock %}


{% block home %}
    <a href="{% url 'blog:drfhome' %}" class="btn btn-outline-secondary">Home</a>
{% endblock %}

{% block switch %}
    {% if user.is_authenticated %}
    <form name="search_form">
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="search" aria-label="search" name="search" name="search">
            <div class="input-group-append">
                <select class="form-control" name="search_type" id="search_type">
                    <option value="article">Article</option>
                    <option value="user">User</option>
                    <option value="tags">Tags</option>
                </select>
                <button class="btn btn-outline-secondary btn-sm" type="submit">search</button>
            </div>
        </div>
    </form>
    &nbsp
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:drfuserarticle' request.user.id%}">Your Profile</a>
            <a class="dropdown-item" href="{% url 'blog:drfuserlikearticle' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'blog:drfuseredit' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'blog:drfchangepass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
        <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline-secondary"> Login </a>
    {% endif %}
{% endblock%}

{% block content %}
<input type="hidden" id="article_id" value="{{instance.id}}">
<input type="hidden" id="user_id" value="{{request.user.id}}">
    <div class="container" id="article_details">
    </div>
    <div style="border-top:1px solid gray">
        <br>
        <div class="container">
            {% if user.is_authenticated %}
                <div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                                <div class="mb-2" id="like_button">
                                </div>
                                <form method="POST" id="addComment" name="addComment" action="{% url 'endpoint:drfcommentpost' instance.id%}" novalidate>
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input type="text" id="content" name="content" class='form-control' placeholder='Enter a comment'>
                                            <div id="invalid_content" class="invalid-feedback">
                                            </div>
                                        </div>
                                </form>
                            <div class="text-right">
                                <button type="submit" class="btn btn-outline-dark" form="addComment">Add Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <div align="center">
        <h3>Comments</h3>
    </div>
    <br/>
    <div class="container" id="comment_section">
    </div>
{% endblock %}


{% block modal %}
<div class="modal fade" id="edit_comment" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Comment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editComment" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="content" class="col-form-label">Comment Content:</label>
                        <input type="text" class="form-control" id="comment_content" name="comment_content"></input>
                        <div id="invalid_comment_content" class="invalid-feedback">
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="edit_comment_id" name="edit_comment_id">
                    <input type="hidden" class="form-control" id="owner" name="user_id" value={{request.user.id}}>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" form="editComment">Confirm</button>
                <button id="dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_comment" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Comment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="deleteComment" method="POST">
                {% csrf_token %}
                    <div align="center">
                        <label>Confirm Comment Delete?</label>
                    </div>
                    <input type="hidden" class="form-control" id="delete_comment_id" name="delete_comment_id">
                    <input type="hidden" class="form-control" id="owner" name="user_id" value={{request.user.id}}>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" form="deleteComment">Confirm</button>
                <button id="dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="show_users" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Likers</h4>
            </div>
            <div class="modal-body" id="show_user_like">
            </div>
            <div class="modal-footer">
                <button id="dismiss_show_users" type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_article" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Article</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editArticle" class="article-form" enctype="multipart/form-data" method="POST">
                
                {% csrf_token %}
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title">
                        <div id="invalid_title" class="invalid-feedback">
                        </div>
                    </div>
                    <div id="display_default">
                    </div>
                    <div class="form-group">
                        <label for="article_image" class="col-form-label">Image:</label>
                        <input type="file" class="form-control" id="article_image">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea rows="5" class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tags" class="col-form-label">Tags:</label>
                        <input type="text" class="form-control" id="tags" name="tags">
                    </div>
                    <input type="hidden" class="form-control" id="owner" name="user_id" value={{request.user.id}}>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" form="editArticle">Confirm</button>
                <button id="dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="search_output" role="dialog">
    <div id="search_div" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body" id="search_base">
            </div>
            <div class="modal-footer">
                <button id="search_dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/articledetails.js' %}"></script>
{% endblock %}