{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block home %}
    <a href="{% url 'blog:drfhome' %}" class="btn btn-outline-secondary">Home</a>
{% endblock %}

{% block switch %}
    <form name="search_form">
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="search" aria-label="search" name="search" name="search">
            <div class="input-group-append">
                <select class="form-control" name="search_type" id="search_type">
                    <option value="article">Article</option>
                    <option value="user">User</option>
                    <option value="tags">Tags</option>
                </select>
                <button class="btn btn-outline-secondary btn-sm" type="submit">search</button>
            </div>
        </div>
    </form>
    &nbsp
    {% if user.is_authenticated %}
    <div class="btn-group">
        <button id="btn_name" name="btn_name" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:drfuserarticle' request.user.id%}">Your Profile</a>
            <a class="dropdown-item" href="{% url 'blog:drfuserlikearticle' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'blog:drfuseredit' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'blog:drfchangepass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
    <img id="profile_picture" src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% endif %}
{% endblock%}


{% block content %}
    <div class="container">
        <div>
            <form method="POST" id="updateUserForm" name="updateUserForm" novalidate>
            {% csrf_token %}
                <div class="form-group">
                    <label for="old_password" class="col-form-label">Old Password:</label>
                    <input type="password" class="form-control" id="old_password" name="old_password">
                    <div id="invalid_old_password" class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm_new_password" class="col-form-label">New Password:</label>
                    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password">
                    <div id="invalid_new_password" class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_password" class="col-form-label">Confirm New Password:</label>
                    <input type="password" class="form-control" id="new_password" name="new_password">
                </div>
            </form>
            <div class="float-right">
                <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#editModal">Update</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
            <!--
            FOR MODAL
        -->
            <div class="modal fade" id="editModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirm Edit?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark" form="updateUserForm">Yes</button>
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

<div class="modal fade" id="search_output" role="dialog">
    <div id="search_div" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body" id="search_base">
            </div>
            <div class="modal-footer">
                <button id="search_dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/changepassword.js' %}"></script>
{% endblock %}