{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Edit User Profile{% endblock %}

{% block home %}
    <a href="{% url 'blog:drfhome' %}" class="btn btn-outline-secondary">Home</a>
{% endblock %}

{% block switch %}
    {% if user.is_authenticated %}
    <form name="search_form">
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="search" aria-label="search" name="search" name="search">
            <div class="input-group-append">
                <select class="form-control" name="search_type" id="search_type">
                    <option value="article">Article</option>
                    <option value="user">User</option>
                    <option value="tags">Tags</option>
                </select>
                <button class="btn btn-outline-secondary btn-sm" type="submit">search</button>
            </div>
        </div>
    </form>
    &nbsp
    <div class="btn-group">
        <button id="btn_name" name="btn_name" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:drfuserarticle' request.user.id%}">Your Profile</a>
            <a class="dropdown-item" href="{% url 'blog:drfuserlikearticle' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'blog:drfuseredit' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'blog:drfchangepass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
    <img id="profile_picture" src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% endif %}
{% endblock%}

{% block content %}
<input type="hidden" id="user_id" value="{{request.user.id}}">
    <div class="container">
        <div>
            <form method="POST" id="updateUserForm" name="updateUserForm" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div id="display_default">
                    <img src="{{ request.user.avatar.url }}" width="50" height="50"></img>
                    <a href="http://localhost:8000{{request.user.avatar.url}}">{{request.user.avatar.url}}</a>
                </div>
                <div class="form-group">
                    <label for="avatar" class="col-form-label">Avatar:</label>
                    <input type="file" class="form-control" id="avatar" name="avatar">
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <div id="invalid_email" class="invalid-feedback">
                    </div>
                </div>
                 <div class="form-group">
                    <label for="firstname" class="col-form-label">First Name:</label>
                    <input type="text" class="form-control" id="firstname" name="firstname">
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-form-label">Last Name:</label>
                    <input type="text" class="form-control" id="lastname" name="lastname"></input>
                </div>
                <div class="form-group">
                    <label for="about_me" class="col-form-label">About Me:</label>
                    <textarea class="form-control" row="5" id="about_me" name="about_me"></textarea>
                </div>
                <input type="hidden" class="form-control" id="owner" name="user_id" value={{request.user.id}}>
            </form>
            <div class="float-right">
                <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#editModal">Update</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
            <!--
            FOR MODAL
        -->
            <div class="modal fade" id="editModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirm Edit?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark" form="updateUserForm">Yes</button>
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
<div class="modal fade" id="search_output" role="dialog">
    <div id="search_div" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body" id="search_base">
            </div>
            <div class="modal-footer">
                <button id="search_dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/edituser.js' %}"></script>
{% endblock %}