{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Home{% endblock %}

{% block home %}
    <a href="{% url 'blog:drfhome' %}" class="btn btn-outline-secondary">Home</a>
{% endblock %}

{% block switch %}
    {% if user.is_authenticated %}
    <div class="input-group ">
        <input type="text" class="form-control" placeholder="search" aria-label="search" >
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" type="button">search</button>
        </div>
    </div>
    &nbsp
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:drfuserarticle' request.user.id%}">Published Articles</a>
            <a class="dropdown-item" href="{% url 'blog:drfuserlikearticle' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'users:edituser' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'users:editpass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
        <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline-secondary"> Login </a>
    {% endif %}
{% endblock%}


{% block content %}
    <div class="container-fluid">
        <div class="container">
        {% if user.is_authenticated %}

            <div class="text-right">
                <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#addModal">ADD ARTICLE</button>
            </div>
        
        {% endif %}
            <br />
            <br />
                <div class="jumbotron" id="jumbotron">
                </div>
                <div class="row" id="featuredthumbnail">
                </div>
        </div>
        <br />
        <br />
        <div class = "container">
                <div>
                    <div align="center">
                        <h2><b>ARTICLES</b></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8" id="articles">
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 mb-3 bg-light rounded">
                                <h4 class="font-italic">About</h4>
                                <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                            </div>

                            <div class="p-3">
                                <h4 class="font-italic">Archives</h4>
                                <ol class="list-unstyled mb-0">
                                <li><a href="#">March 2014</a></li>
                                <li><a href="#">February 2014</a></li>
                                <li><a href="#">January 2014</a></li>
                                <li><a href="#">December 2013</a></li>
                                <li><a href="#">November 2013</a></li>
                                <li><a href="#">October 2013</a></li>
                                <li><a href="#">September 2013</a></li>
                                <li><a href="#">August 2013</a></li>
                                <li><a href="#">July 2013</a></li>
                                <li><a href="#">June 2013</a></li>
                                <li><a href="#">May 2013</a></li>
                                <li><a href="#">April 2013</a></li>
                                </ol>
                            </div>

                            <div class="p-3">
                                <h4 class="font-italic">Elsewhere</h4>
                                <ol class="list-unstyled">
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                                </ol>
                            </div>
                        </div>                
                    </div>
                </div>
                <!-- PAGINATION PART -->
                <!--########################################################################################################-->
                    <div align="center">
                        <ul class="pagination justify-content-center">
                            {% if form.has_previous %}
                                <a class="page-link" href="?page={{ form.previous_page_number }}">previous</a>
                            {% endif %}

                            {% for i in form.paginator.page_range %}
                                {% if form.number == i %}
                                    <li class="active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if form.has_next %}
                                <a class="page-link" href="?page={{ form.next_page_number }}">next</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}


{% block modal %}
            <div class="modal fade" id="addModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Article</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="addArticle" class="article-form" method="POST" action="{% url 'endpoint:drflistarticle' %}">
                            
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="title" class="col-form-label">Title:</label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                {% comment %} <div class="form-group">
                                    <label for="image" class="col-form-label">Image:</label>
                                    <input type="file" class="form-control" id="image">
                                </div> {% endcomment %}
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Description:</label>
                                    <textarea class="form-control" id="description" name="description"></textarea>
                                </div>
                                <input type="hidden" class="form-control" id="owner" name="user_id" value={{request.user.id}}>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary" form="addArticle">Confirm</button>
                            <button id="dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock modal %}


{% block javascript %}
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
{% endblock %}