{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Liked Articles{% endblock %}

{% block home %}
    <a href="{% url 'blog:drfhome' %}" class="btn btn-outline-secondary">Home</a>
{% endblock %}

{% block switch %}
    <form name="search_form">
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="search" aria-label="search" name="search" name="search">
            <div class="input-group-append">
                <select class="form-control" name="search_type" id="search_type">
                    <option value="article">Article</option>
                    <option value="user">User</option>
                    <option value="tags">Tags</option>
                </select>
                <button class="btn btn-outline-secondary btn-sm" type="submit">search</button>
            </div>
        </div>
    </form>
    &nbsp
    {% if request.user.is_authenticated %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:drfuserarticle' request.user.id%}">Your Profile</a>
            <a class="dropdown-item" href="{% url 'blog:viewliked' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'blog:drfuseredit' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'blog:drfchangepass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
    <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% endif %}
{% endblock%}

{% block content %}
<input type="hidden" id="user_id" value="{{request.user.id}}">
    <div class="container-fluid">
        <div>
            <div class="container">
                <div align="center">
                    <h2>Liked Articles</h2>
                        <div align="center" id="likedarticles">
                        </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="search_output" role="dialog">
    <div id="search_div" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body" id="search_base">
            </div>
            <div class="modal-footer">
                <button id="search_dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock  %}



{% block javascript %}
    <script type="text/javascript" src="{% static 'js/userlikedarticles.js' %}"></script>
{% endblock %}