{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Articles{% endblock %}

{% block home %}
    <a href="{% url 'blog:drfhome' %}" class="btn btn-outline-secondary">Home</a>
{% endblock %}

{% block switch %}
    <form name="search_form">
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="search" aria-label="search" name="search" name="search">
            <div class="input-group-append">
                <select class="form-control" name="search_type" id="search_type">
                    <option value="article">Article</option>
                    <option value="user">User</option>
                    <option value="tags">Tags</option>
                </select>
                <button class="btn btn-outline-secondary btn-sm" type="submit">search</button>
            </div>
        </div>
    </form>
    &nbsp
    {% if request.user.is_authenticated %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.firstname %}
                {{ request.user.firstname }}
            {% else %}
                {{ request.user.email }}
            {% endif %}
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{% url 'blog:drfuserarticle' request.user.id%}">Your Profile</a>
            <a class="dropdown-item" href="{% url 'blog:drfuserlikearticle' %}" >Liked Articles</a>
            <a class="dropdown-item" href="{% url 'blog:drfuseredit' %}">Edit User Details</a>
            <a class="dropdown-item" href="{% url 'blog:drfchangepass' %}">Edit Password</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}" >Logout</a>
        </div>
    </div>
    &nbsp
        <img src="{{ request.user.avatar.url }}" width="40" height="40"></img>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline-secondary"> Login </a>
    {% endif %}
{% endblock%}

{% block content %}
<input type="hidden" id="user_id" value="{{user.id}}">
<input type="hidden" id="request_user_id" value="{{request.user.id}}">
    <div class="container-fluid">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8    ">
                    <div align="center">
                        {% if request.user.id != user.id %}
                            {% if user.firstname %}
                            <h2> {{user.get_full_name}}'s Articles </h2>
                            {% else %}
                            <h2> {{user.email}}'s Articles </h2>
                            {% endif %}
                        {% else %}
                            <h2>Your Published Articles</h2>
                        {% endif %}
                    </div>
                    <br/>
                        <div id='articles'>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div align="center">
                        {% if request.user.is_authenticated %}
                            {% if request.user.id != user.id %}
                                <div class="text-right" id="follow_user">
                                </div>
                                <br/>
                            {% endif %}
                        {% endif %}
                        <div id="follow_container">
                        </div>
                        <br/>
                        <img src="{{user.avatar.url}}" width="200px" height="200px">
                        <br/>
                        {% if user.firstname %}
                            {{user.get_full_name}}
                        {% else %}
                            {{user.email}}
                        {% endif %} 
                        <br/>
                        <br/>
                        <div class="p-3 mb-3 bg-light rounded">
                            <h4 class="font-italic">About Me</h4>
                            <p class="mb-0">{{user.about_me}}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
{% endblock %}


{% block modal %}
<div class="modal fade" id="edit_article" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Article</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editArticle" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title">
                        <div id="invalid_title" class="invalid-feedback">
                        </div>
                    </div>
                    <div id="display_default">
                    </div>
                    <div class="form-group">
                        <label for="article_image" class="col-form-label">Image:</label>
                        <input type="file" class="form-control" id="article_image">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea rows="5" class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tags" class="col-form-label">Tags:</label>
                        <input type="text" class="form-control" id="tags" name="tags">
                    </div>
                    <input type="hidden" class="form-control" id="edit_article_id" name="edit_article_id">
                    <input type="hidden" class="form-control" id="owner" name="user_id" value={{request.user.id}}>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" form="editArticle">Confirm</button>
                <button id="dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_article" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Article</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="deleteArticle" method="POST">
                {% csrf_token %}
                    <div align="center">
                        <label>Confirm Article Delete?</label>
                    </div>
                    <input type="hidden" class="form-control" id="delete_article_id" name="delete_article_id">
                    <input type="hidden" class="form-control" id="owner" name="user_id" value={{request.user.id}}>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" form="deleteArticle">Confirm</button>
                <button id="dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="following_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Following</h4>
            </div>
            <div class="modal-body" id="following_base">
            </div>
            <div class="modal-footer">
                <button id="dismiss_following" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="follower_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Followers</h4>
            </div>
            <div class="modal-body" id="follower_base">
            </div>
            <div class="modal-footer">
                <button id="dismiss_follower" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="search_output" role="dialog">
    <div id="search_div" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body" id="search_base">
            </div>
            <div class="modal-footer">
                <button id="search_dismiss" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}


{% block javascript %}
    <script type="text/javascript" src="{% static 'js/userarticles.js' %}"></script>
{% endblock %}